* {
  margin: 0;
  font-family: 'DBHeaven', sans-serif;
}

body,
.root {
  overflow: hidden;
}

.dbheaven {
  font-family: 'DBHeaven', sans-serif;
}

.content {
  height: calc(100vh - 6rem);
  position: relative;
  display: flex;
  .interface {
    position: absolute !important;
    top: 50%;
    transform: translateY(-50%);
    left: 2.5rem;
    display: flex;
    align-items: center;
    gap: 2rem;
    .interfaceBtn {
      text-align: center;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }
    .scrollbox {
      height: 34rem;
      position: relative;
      overflow: hidden;
      .interfaceFloor {
        transition: all 0.3s;
        transform: translateY(-20rem);
        display: flex;
        flex-direction: column-reverse;
        gap: 1rem;
        .btnSelectFloor {
          border-radius: 3rem;
          outline: none;
          padding: 0.5rem;
          width: 4rem;
          height: 4rem;
          display: block;
          background: rgba(0, 0, 0, 0.3);
          border: none;
          transition: all 0.3s;
          color: #fff;
          font-size: 1.5rem;
          &.select {
            transform: scale(1);
          }
          &.unselect-1 {
            transform: scale(0.9);
            opacity: 0.6;
          }
          &.unselect-2 {
            transform: scale(0.8);
            opacity: 0.4;
          }
          &.unselect-3 {
            transform: scale(0.7);
            opacity: 0.2;
          }
        }
      }
    }
  }

  .building {
    transition: width 0.5s;
    background: #fff;
    width: 100%;
    height: 100%;
    position: relative;
    &.have {
      transition: width 0.5s;
      width: 50% !important;
    }
    .compass {
      color: #fff;
      min-height: 26px;
      min-width: 20px;
      position: absolute;
      display: grid;
      place-items: center;
      perspective: 10000px;
      top: 5rem;
      left: 50%;
      transform: (-50%, -50%);
      backface-visibility: hidden;
    }
    .scene {
      position: relative;
      transform-style: preserve-3d;
    }
    .banner {
      display: flex;
      transform-style: preserve-3d;
      // animation: rotate 24s infinite linear;
    }

    @keyframes rotate {
      to {
        transform: rotateY(-360deg);
      }
    }

    $width: 20px;
    .panel {
      backface-visibility: hidden;
      position: absolute;
      transform: translate(-50%, -100%) rotateY(var(--angle)) translateZ(180px);
      width: $width;
      height: 26px;
      overflow: hidden;
      // background: #fff;
      &::before {
        position: absolute;
        left: var(--left);
        content: 'N - - - - - - - - - - - - - - - - - - W - - - - - - - - - - - - - - - - - - S - - - - - - - - - - - - - - - - - - E - - - - - - - - - - - - - - - - - - ';
        width: max-content;
        font-size: 24px;
        color: #6c6c6c;
      }
    }

    @for $i from 0 to 57 {
      .panel-#{$i} {
        --left: #{$width * $i * -1};
        --angle: #{calc($i * 360deg / 57)};
        --hue: #{calc(360 / 57 * $i)};
      }
    }
  }

  .section {
    transition: width 0.5s;
    width: 0%;
    height: 100%;

    &.have {
      transition: width 0.5s;
      width: 50%;
    }
    .roomtype {
      height: calc(100% - 48px);
      width: 100%;
      background: #fdf6ec;
      text-align: center;
      margin-left: 0%;
      // animation: widthSize 0.5s;
      position: relative;
      &::after {
        top: 0;
        content: '';
        z-index: 0;
        background-image: url('../image/backgroundimg2.svg');
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        pointer-events: none;
      }
      &::before {
        content: '';
        height: 5.5rem;
        width: 1px;
        background: #000;
        display: block;
        margin: 0 auto 1.5rem auto;
      }
    }
    .floorplan {
      height: 100%;
      width: 100%;
      background: #fdf6ec;
      text-align: center;
      margin-left: 0%;
      // animation: widthSize 0.5s;
      position: relative;
      &::after {
        top: 0;
        z-index: 0;
        content: '';
        background-image: url('../image/backgroundimg2.svg');
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        pointer-events: none;
      }
      &::before {
        content: '';
        height: 5.5rem;
        width: 1px;
        background: #000;
        display: block;
        margin: 0 auto 1.5rem auto;
      }
    }
    .textheight {
      line-height: 1.5;
    }

    .header1 {
      font-size: 2.5rem;
      color: #984807;
    }

    .header2 {
      font-size: 2rem;
      color: #000;
    }

    .floorImg {
      position: relative;
      margin: 3rem auto;
      img {
        width: 35rem;
      }
      .room {
        height: 29rem;
      }
      .floorIconMenu {
        width: 5rem;
        height: 6rem;
        top: 0;
        right: 3rem;
        position: absolute;
        z-index: 2;
        font-size: 14px;
        .floorIconImg {
          width: 1.5rem;
          aspect-ratio: 1/1;
          background: #ece2d6;
          border: 1px solid #595959;
          border-radius: 8px;
          padding: 12px;
        }

        &.second {
          top: 8rem;
        }
      }

      .roomIconMenu {
        width: 5rem;
        height: 6rem;
        top: 0rem;
        right: 3rem;
        position: absolute;
        z-index: 2;
        font-size: 12px;
        .roomIconImg {
          width: 1.5rem;
          aspect-ratio: 1/1;
          background: #ece2d6;
          border: 1px solid #595959;
          border-radius: 8px;
          padding: 12px;
        }

        &.second {
          top: 8rem;
        }
      }

      .floorType {
        width: 50%;
        margin: auto;
        padding-top: 2rem;
        display: flex;
        flex-wrap: wrap;
        row-gap: 1rem;
        div {
          text-align: left;
          width: 50%;
          font-size: 12px;
          display: flex;

          &::before {
            content: '';
            width: 14px;
            height: 14px;
            display: block;
            margin-right: 16px;
            border-radius: 16px;
          }

          &[t-color='#eec79a']::before {
            background: #eec79a;
          }

          &[t-color='#EDEEE9']::before {
            background: #edeee9;
          }

          &[t-color='#C2C2C2']::before {
            background: #c2c2c2;
          }

          &[t-color='#959595']::before {
            background: #959595;
          }

          &[t-color='#D5CAB5']::before {
            background: #d5cab5;
          }

          &[t-color='#A1927C']::before {
            background: #a1927c;
          }

          &[t-color='#E2BA62']::before {
            background: #e2ba62;
          }
        }
      }
      .roomType {
        width: 70%;
        margin: 3rem auto 0 auto;
        display: flex;
        gap: 3rem;
        row-gap: 1.5rem;
        justify-content: center;
        font-size: 1rem;
        color: #595959;
        line-height: 1;
        text-transform: uppercase;
        text-align: center;
        flex-wrap: wrap;
        .roomTypeDetail {
          line-height: 1;
          display: flex;
          align-items: center;
          .roomIconImg {
            padding-right: 0.5rem;
            width: 16px;
          }
        }
      }
    }

    .floorBack {
      position: absolute;
      bottom: 1.5rem;
      left: 1.5rem;
      padding: 16px 40px;
      border: 1px solid #595959;
      background: #ece2d6;
      border-radius: 8px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 8px;
      color: #595959;

      svg {
        height: 20px;
      }
    }

    .roomTypeList {
      position: relative;
      display: flex;
      .roomTypeListDetail {
        width: 20%;
        border: 0.25px solid #242424;
        display: flex;
        gap: 1rem;
        justify-content: center;
        align-items: center;
        color: #242424;
        &.select {
          color: #fff;
          background: #17375e;
        }
        .roomTypeDetailNumber {
          font-size: 2.5rem;
        }
        .roomTypeDetailName {
          font-size: 14px;
        }
        .roomTypeDetailSize {
          font-size: 12px;
        }
      }
    }
  }
}

.bottom-bar {
  height: 6rem;
  background: #fdf6ec;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  position: relative;
  &::before {
    content: '';
    background-image: url('../image/backgroundimg1.svg');
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    pointer-events: none;
  }
  ul {
    list-style-type: none;
    width: 100%;
    padding: 0;
    gap: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    .selected {
      a {
        font-weight: 700;
      }
    }
  }
}

@keyframes widthSize {
  from {
    margin-left: 100%;
  }
  to {
    margin-left: 0%;
  }
}
